<div class="card" style="width: 50rem; padding: 5rem">
  <ng-container *ngIf = "!viewdueDateStatus">
    <div class="text-center">
      <h4>Due Date Generator</h4>
    </div>
    <form #dueDateGeneratorForm="ngForm">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Frequency</label>
            <select class="form-control" name="frequency" ngModel>
              <option [value]="''">Select Frequency</option>
              <option [value]="'daily'">Daily</option>
              <option [value]="'weekly'">Weekly</option>
              <option [value]="'monthly'">Monthly</option>
              <option [value]="'yearly'">Yearly</option>
              <option [value]="'oneTime'">One Time</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="responsibility"
              [(ngModel)] = "isResponsibilityChecked"
              (change)="responsibilityChange($event)"
            />
            <label class="form-check-label">
              SET A LIFECYSLE FOR THIS RESPONSIBILITY
            </label>
          </div>
        </div>
      </div>
      <ng-container *ngIf = "isResponsibilityChecked">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="startFrom"
                  ngModel
                  ngbDatepicker
                  #startFromDP="ngbDatepicker"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="startFromDP.toggle()"
                    type="button"
                  >
                    <i class="fa fa-calender"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="endsBy"
                  ngModel
                  ngbDatepicker
                  #endsByDP="ngbDatepicker"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="endsByDP.toggle()"
                    type="button"
                  >
                    <i class="fa fa-calender"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Occurance</label>
              <select class="form-control" name="occurance" ngModel>
                <option value="">Select Occurance</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
              </select>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row text-right">
        <button
          class="btn btn-primary"
          (click)="viewDueDates(dueDateGeneratorForm)"
        >
          View Due Dates
        </button>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf = "viewdueDateStatus">
    <div class="text-center">
      <h4>Due Dates</h4>
      <h5 *ngFor = "let dueDate of dueDates">
        {{dueDate}}
      </h5>
    </div>
    <button class="btn btn-default text-right" (click) = "viewdueDateStatus = false">
      Back
    </button>

  </ng-container>

  <router-outlet></router-outlet>
</div>
